.error{
    color:#ff0000;
    display: block;
}
#errors{
    margin:10px;
    text-align: center;

}
#logo{
    margin-right: 0px;
}
.countrylist{
    margin-top:10px;
    width:150px;
}
.homeslidercarousel  .owl-item img{
    width:100%;
}
