.error{
    color:#ff0000;
    display: block;
}
#errors{
    margin:10px;
    text-align: center;

}
#logo{
    margin-right: 0px;
}
.countrylist{
    margin-top:10px;
    width:150px;
}
.homeslidercarousel  .owl-item img{
    width:100%;
}
.additionaladdon{
    display: none;
}
.pricing-list-container span{
    right:20%!important;

}
.pricing-list-container .peak{
    right: 2% !important;
    text-align: center;
}
input[type='radio']{
    display: none;
}
#logo img{
    visibility: visible;
}
.failure-text i {
    font-size: 50px;
    color: red;
}
.invalid-feedback{
    display: block;
}
